<country-search-input
  placeholder="Buscar por países"
  (value)="onSearch($event)"
></country-search-input>

<country-list [countries]="countries()" [isLoading]="isLoading()"></country-list>

<div *ngIf="isError()" class="flex flex-col items-center justify-center mt-32">
    <img src="https://media1.tenor.com/m/HG-U3mueAZcAAAAC/sad-sigh.gif" alt="Error" class="w-32 h-32 mb-4 rounded-xl shadow-lg" />
    <h3 class="text-center text-xl font-semibold">{{ isError() }}</h3>
  </div>
<!-- </div> -->

<div class="flex flex-1 items-center justify-center min-h-80">
  <div *ngIf="isLoading()" class="flex flex-col items-center justify-center mt-32">
    <img src="https://cdn.pixabay.com/animation/2023/11/09/03/05/03-05-45-320_512.gif" alt="Error" class="w-32 h-32 mb-4 rounded-xl shadow-lg" />
    <h3 class="text-center text-xl font-semibold"></h3>
  </div>
